<md-card class="home-profile-card">
  <md-card-header>
    <md-card-subtitle>Welcome {{user.name}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{user.photo}}">
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>