<md-card>
  <md-card-title>Please login</md-card-title>

  <md-card-content>
    <md-input-container>
      <input mdInput [(ngModel)]="email" placeholder="Email">
    </md-input-container>
  </md-card-content>

  <md-card-content>
    <md-input-container>
      <input mdInput [(ngModel)]="password" placeholder="Password" type="password">
    </md-input-container>
  </md-card-content>

  <md-card-actions *ngIf="loginError">{{loginError}}</md-card-actions>

  <button md-mini-fab (click)="email_login()"><md-icon>Login</md-icon></button>

</md-card>

<!--use as ref-->
<div>
  <md-toolbar color="primary">
    <span><md-icon>mood</md-icon></span>

    <span>Yay, Material in Angular 2!</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <md-card>
    <button md-button>All</button>
    <button md-raised-button>Of</button>
    <button md-raised-button color="primary">The</button>
    <button md-raised-button color="accent">Buttons</button>
  </md-card>

  <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>

    <button md-fab>
      <md-icon>edit</md-icon>
    </button>
</div>